# BEGINNER TRACK SD DATA HACKS 2020

In [1]:
import pandas as pd
import numpy as np

In [2]:
housing = pd.read_csv("SD1970_housing.csv")
housing

,Tract name,Block group,Place Name,Total housing units,Total owner occupied real $ aggregate (total) value of housing units,Black owner occupied real $ aggregate (total) value of housing units,Vacant for sale only real $ aggregate (total) value of housing units,Total owner occupied average $ value of housing units,Black owner occupied average $ value of housing units,Vacant for sale only average $ value of housing units,...,Renter occupied housing units with 1.01 or more persons per room,Total Black occupied housing units with 1.01 or more persons per room,Black owner occupied housing units with 1.01 or more persons per room,Black renter occupied housing units with 1.01 or more persons per room,Persons in occupied housing units with all plumbing facilities,Persons in occupied housing units lacking one or more plumbing facilities,Persons in occupied housing units with 1.01 or more persons per room with all plumbing facilities,Persons in occupied housing units with 1.01 or more persons per room lacking one or more plumbing facilities,Families with all plumbing facilities,Families lacking one or more plumbing facilities
0,Census Tract 1,1,San Diego,302,"$7,783,750.00",...,...,"$32,298.00",...,...,...,10,...,...,...,897,4,30,0,225,1
1,Census Tract 1,2,San Diego,234,"$5,720,000.00",...,...,"$29,485.00",...,...,...,11,...,...,...,683,0,78,0,174,0
2,Census Tract 1,3,San Diego,176,"$5,721,250.00",...,...,"$37,151.00",...,...,...,13,...,...,...,532,0,34,0,136,0
3,Census Tract 1,4,San Diego,159,"$5,633,750.00",...,...,"$44,712.00",...,...,...,9,...,...,...,421,0,21,0,119,0
4,Census Tract 1,5,San Diego,209,"$5,815,000.00",...,...,"$33,229.00",...,...,...,0,...,...,...,486,3,9,0,142,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1259,Census Tract 199,3,NaN,99,"$1,102,500.00",...,...,"$22,050.00",...,...,...,17,...,...,...,270,1,57,0,83,0
1260,Census Tract 199,3,NaN,89,"$1,518,750.00",...,...,"$25,313.00",...,...,...,21,...,...,...,259,0,38,0,78,0
1261,Census Tract 199,9,NaN,138,"$2,729,750.00",...,...,"$33,290.00",...,...,...,17,...,...,...,415,1,58,0,115,0
1262,Census Tract 199,9,NaN,224,"$3,727,500.00",...,...,"$25,186.00",...,...,...,10,...,...,...,544,6,25,6,173,1
1263,Census Tract 199,9,Vista,3,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...

In [3]:
population = pd.read_csv("SD1970_population.csv")
population

,Census Tract Name,Block Group,Place Name,Total persons,Male persons age under 5 years,Male persons age 5 years,Male persons age 6 years,Male persons age 7-9 years,Male persons age 10-13 years,Male persons age 14 years,...,"Husband-wife family members 65 and over, none under 18",Husband-wife family members under 18 and 65 and over,Other family with male head no members under 18 or 65 and over,"Other family with male head members under 18, none 65 and over","Other family with male head members 65 and over, none under 18",Other family with male head members under 18 and 65 and over,Family with female head no members under 18 or 65 and over,"Family with female head members under 18, none 65 and over","Family with female head members 65 and over, none under 18",Family with female head members under 18 and 65 and over
0,Census Tract 1,1,San Diego,901,31,6,9,29,32,9,...,2,3,2,0,3,0,6,15,5,1
1,Census Tract 1,2,San Diego,683,28,2,9,14,21,6,...,3,5,0,1,1,1,6,17,6,0
2,Census Tract 1,3,San Diego,532,18,4,4,15,26,6,...,2,2,1,1,0,1,5,5,2,0
3,Census Tract 1,4,San Diego,421,9,3,5,5,7,3,...,0,1,0,1,0,0,5,4,2,0
4,Census Tract 1,5,San Diego,489,12,2,4,6,13,4,...,4,1,1,1,0,0,6,6,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1259,Census Tract 199,3,NaN,271,5,1,0,9,16,2,...,3,3,0,0,0,0,1,3,0,0
1260,Census Tract 199,3,NaN,259,4,5,2,9,6,4,...,1,1,1,1,0,0,0,4,1,0
1261,Census Tract 199,9,NaN,444,14,2,3,21,19,3,...,0,1,1,1,0,0,0,5,3,0
1262,Census Tract 199,9,NaN,550,12,1,4,8,17,6,...,2,0,2,1,0,1,0,8,0,0
1263,Census Tract 199,9,Vista,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# DATA WRANGLING

In [4]:
[i.split(" ")[0] == 'Male' for i in population.columns]

[False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

In [5]:
population["Total Male Persons"] = population.where(population.columns.split(" ")[0])

ValueError: Array conditional must be same shape as self